{
  "plugins": [
    "react",
    "filenames",
    "jest"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }],
    "object-curly-newline": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "function-paren-newline": 0,
    "react/forbid-prop-types": [2, { "forbid": ["any", "array"] }]
  }
}
