:local .container {
  padding-top: 20px;
}

:local .day {
  margin-bottom: 40px;
}

:local .hours {
  display: none;
}

@media (min-width: 992px) {
  :local .hours {
    display: block;
  }

  :local .daysOverlay {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0;
    width: auto;
  }

  :local .day {
    margin-bottom: 0;
  }

  :local .agenda,
  :local .days {
    position: relative;
  }
}
