:local .box {
  background-color: #222;
}

:local .withWorkshops {
  background-color: #1f6b0c;
  color: #d0d0d0;
}

:local .withPerformers {
  background-color: #1b3c58;
  color: #d0d0d0;
}

:local .boxShell {
  padding: 1rem;
}

@media (min-width: 768px) {
  :local .container {
    position: relative;
  }

  :local .boxWrapper {
    position: absolute;
  }

  :local .boxShell {
    align-items:center;
    display:flex;
    font-size: 85%;
    justify-content:center;
    padding: 1rem;
    text-align: center;
  }

  :local .withPerformerPhoto {
    color: #fff;
  }

  :local .boxShell,
  :local .boxOverlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  :local .boxOverlay {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
  }
}

@media (max-width: 768px) {
  :local .container {
    margin-bottom: 1rem;
  }

  :local .boxWrapper {
    width: auto !important;
  }

  :local .box {
    min-height: 0 !important;
    background-image: none !important;
  }
}
