:local .box,
:local .box:active,
:local .box:focus {
  border-radius: .5rem;
  border: 1px solid #3e3f3a;
  color: #3e3f3a;
  cursor: pointer;
  display: block;
  margin-bottom: 1.5rem;
  min-height: 130px;
  padding: 1.25rem 1.25rem 2.5rem;
  position: relative;
}

:local .box h3 {
  font-size: 125%;
  font-weight: bold;
}

:local .box:hover,
:local .box:focus {
  background: rgba(62,63,58,.05);
  color: #3e3f3a;
  text-decoration: none;
}

:local .selected,
:local .selected:active,
:local .selected:focus,
:local .selected:hover {
  background: rgba(147,197,75,.25);
  border-color: #93c54b;
  text-decoration: none;
}

:local .unselected {
}

:local .check {
  bottom: 2.25rem;
  color: #93c54b;
  font-size: 48px;
  position: absolute;
  right: 1.25rem;
}

:local .progress {
  position: absolute;
  left: 1.25rem;
  right: 1.25rem;
  bottom: -.75rem;
}

:local .disabled,
:local .disabled:active,
:local .disabled:focus,
:local .disabled:hover {
  opacity: .4;
}

:local .full {
  color: red;
}
