:local .header {
  background-image: url(/static/theme/2017/bg-leave.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
}

:local .image {
  display: block;
  visibility: hidden;
  width: 100%;
}
