:local .header {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
}

:local .cover {
  background-size: cover;
  background-position: center center;
}

:local .image {
  display: block;
  visibility: hidden;
  width: 100%;
}
