:local .box,
:local .box:active,
:local .box:focus {
  border-radius: 1rem;
  border: 2px solid #3e3f3a;
  color: #3e3f3a;
  cursor: pointer;
  display: block;
  margin-bottom: 1rem;
  min-height: 220px;
  padding: 1.75rem;
  position: relative;
}

:local .box:hover {
  background: rgba(255,255,255,.3);
  color: #3e3f3a;
  text-decoration: none;
}

:local .selected,
:local .selected:active,
:local .selected:focus {
  background: rgba(255,255,255,.4);
  border-color: #93c54b;
  text-decoration: none;
}

:local .unselected {
}

:local .check {
  bottom: 2rem;
  color: #93c54b;
  font-size: 48px;
  position: absolute;
  right: 2rem;
}
