:global {
  @import '../../node_modules/bootswatch/dist/cyborg/bootstrap.min.css'

  /* latin-ext */
  @font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    src: local('Bai Jamjuree SemiBold'), local('BaiJamjuree-SemiBold'), url(https://fonts.gstatic.com/s/baijamjuree/v2/LDIqapSCOBt_aeQQ7ftydoa0gebempo0yyg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    src: local('Bai Jamjuree SemiBold'), local('BaiJamjuree-SemiBold'), url(https://fonts.gstatic.com/s/baijamjuree/v2/LDIqapSCOBt_aeQQ7ftydoa0gebelJo0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 700;
    src: local('Bai Jamjuree Bold'), local('BaiJamjuree-Bold'), url(https://fonts.gstatic.com/s/baijamjuree/v2/LDIqapSCOBt_aeQQ7ftydoa05efempo0yyg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 700;
    src: local('Bai Jamjuree Bold'), local('BaiJamjuree-Bold'), url(https://fonts.gstatic.com/s/baijamjuree/v2/LDIqapSCOBt_aeQQ7ftydoa05efelJo0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  html {
    font-family: 'Bai Jamjuree', 'Roboto', sans !important;
  }

  html, body, #appContent {
    height: 100%;
    min-width: 320px;
  }

  .app-content {
    min-height: 240px;
  }

  body h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  body h1.decent {
    font-size: 3rem;
  }

  .card {
    box-shadow:
      rgba(42,159,214,.25) 0 0 2px,
      rgba(42,159,214,.25) 0 0 4rem;
  }

  .col-wrap {
    margin-bottom: 1.5rem;
  }

  @media screen and (max-width: 576px) {
    body .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    body .card {
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }

  p:last-child,
  ul:last-child,
  .alert:last-child {
    margin-bottom: 0;
  }

  .Select {
    background: transparent !important;
    padding: 0 !important;
  }
}

:local .app {
  min-height: 100%;
  padding-top: 6rem;
}
