html, body, #appContent {
  height: 100%;
}

@font-face {
  src: url(/static/theme/2018/fonts/neo-neon-webfont.woff2) format('woff2'),
    url(/static/theme/2018/fonts/neo-neon-webfont.woff) format('woff');
  font-family: 'NeoNeon';
}

body h1,
body h2,
body h3 {
  font-family: 'NeoNeon';
}
