:local .container {
  margin-top: 2rem;
  padding: 0.5rem 0 1.5rem;
  position: relative;
  background: rgba(6,6,6,.25);
}

@media(min-width: 1350px) {
  :local .container {
    background-size: 1350px auto;
  }
}

:local .buttons {
  left: 0;
  right: 0;
  bottom: 2rem;
  z-index: 10;
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}

:local .topic {
  color: inherit;
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 35rem;
}

:local .topic i {
  color: rgba(229,246,255,.9);
  font-size: 4rem;
  font-style: normal;
  margin: 0 auto;
  position: relative;
  text-align: center;
  text-shadow: #a6e3ff 0 0 1px;
  transform: translateZ(0);
  z-index: 2;
}

:local .upcomingDate {
  font-size: 24px;
  margin-bottom: 1rem;
  z-index: 2;
  position: relative;
  color: #fff;
  opacity: .75;
  bottom: -1.5rem;
}

:local .text {
  z-index: 2;
  position: relative;
  margin-bottom: 5rem;
}

:local .text h1 {
  padding: 0 2rem;
  font-size: 4rem;
}
