:local .container {
  padding: 6rem 0 1rem;
  position: relative;
  background: #060606;
  min-height: 377px;
}

:local .textOverlay {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

:local .textOverlayHorizontalLimit {
  position: relative;
  max-width: 650px;
  height: 100%;
  margin: 0 auto;
}

:local .textOverlayBackground {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

@media(min-width: 1350px) {
  :local .container {
    background-size: 1350px auto;
  }
}

:local .buttons {
  left: 0;
  right: 0;
  bottom: 2rem;
  z-index: 10;
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}

:local .topic {
  color: inherit;
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 35rem;
  font-family: 'NeoNeon';
}

:local .topic i {
  color: rgba(229,246,255,.9);
  font-size: 4rem;
  font-style: normal;
  margin: 0 auto;
  position: relative;
  text-align: center;
  text-shadow: #a6e3ff 0 0 1px;
  transform: translateZ(0);
  z-index: 2;
}
:local .topic:before {
  border-radius: 4rem;
  color: transparent;
  content: 'Otevreno nonstop';
  display: block;
  font-size: 4rem;
  font-weight: 400;
  left: 0;
  margin: 0 auto;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  width: 100%;
  z-index: 1;
  text-shadow:
    #1d80b6 0 0 12rem,
    #ffffff 0 0 13rem,
    #1d80b6 0 0 20rem;
}

:local .upcomingDate {
  font-size: 24px;
  margin-bottom: 1rem;
  z-index: 2;
  position: relative;
  color: #fff;
  opacity: .75;
  bottom: -1.5rem;
}

:local .text {
  z-index: 2;
  position: relative;
  margin-bottom: 5rem;
}

:local .text h1 {
  padding: 0 2rem;
  font-size: 4rem;
}

:local .year {
  position: relative;
  top: -4rem;
  margin: 0 -1rem;
}
